<div class="hero" *ngIf="fiatArr.length > 0">
  <div class="text-center">
    <div class="d-flex align-items-center justify-content-center">
      <img
        src="https://www.ceccarelligroup.it/static/images/logo_ceccarelli.png"
        height="40"
        class="rounded-5 mb-3 me-3"
        alt="logo-ceccarelli"
      />
      <h1 class="fw-bolder py-3">Autosalone Ceccarelli</h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <h2 class="text-center pt-5">Le nostre Fiat</h2>
      <div class="col-12 col-md-6" *ngFor="let car of fiatArr">
        <div class="card border-0 mt-5 rounded-5">
          <img
            src="{{ car.modelImage }}"
            class="card-img-top"
            alt="img-macchina"
          />
          <div class="card-body text-center {{ car.availabilityClass }}">
            <h5 class="card-title">{{ car.model }}</h5>
            <p class="card-text">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore
              accusantium laboriosam numquam quod, exercitationem vel nobis
              molestiae eius explicabo magnam vitae, libero quos nesciunt
              voluptatum dolore similique, nam cumque aut!
            </p>
            <div class="img-logo">
              <img
                class="me-2"
                src="{{ car.brandLogo }}"
                alt="logo-car-brand"
              />
              <a routerLink="" class="btn btn-primary">autosalone</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
