.card {
  width: 30%;
}

.card img {
  width: 100%;
}

.card-hero {
  width: 30%;
  margin-inline: auto;
}

.card-hero img {
  width: 100%;
  margin-inline: auto;
}

.card-hero {
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.card {
  opacity: 0;
  transform: translateX(100%);
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.card-hero.show,
.card.show {
  opacity: 1;
  transform: translateX(0);
}
