<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <img
      src="https://www.ceccarelligroup.it/static/images/logo_ceccarelli.png"
      alt="logo-ceccarelli"
      height="40"
      class="rounded-5"
    />
    <button
      class="navbar-toggler"
      type="button"
      (click)="toggleNavbar()"
      aria-controls="navbarSupportedContent"
      aria-expanded="isNavbarCollapsed"
      aria-label="Toggle navigation"
    >
      <p>menù</p>
    </button>
    <div
      class="collapse navbar-collapse"
      [ngClass]="{ show: !isNavbarCollapsed }"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink=""
            routerLinkActive="text-primary"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/Audi"
            routerLinkActive="text-primary"
            [routerLinkActiveOptions]="{ exact: true }"
            >audi</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/Fiat"
            routerLinkActive="text-primary"
            [routerLinkActiveOptions]="{ exact: true }"
            >fiat</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/Ford"
            routerLinkActive="text-primary"
            [routerLinkActiveOptions]="{ exact: true }"
            >ford</a
          >
        </li>
      </ul>

      <form class="d-flex" (ngSubmit)="onSearch()">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Cerca..."
          aria-label="Cerca"
          [(ngModel)]="searchQuery"
          name="search"
        />
        <button class="btn btn-outline-success" type="submit">Cerca</button>
      </form>
    </div>
  </div>
</nav>
