h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "Zilla Slab", serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  color: white;
}

main {
  padding-bottom: 5rem;
}

.card-body {
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
